<h1>Sign In</h1>

<%= form_with url: sign_in_path do |f| %>
    
    <%= f.text_field :email ,placeholder:'example@gmail.com' ,class:'mt-2 form-control'%>
    <br>
    <%= f.password_field :password ,placeholder:'Password' ,class:'mt-2 form-control'%>
    <br>
    <%= f.select :role, User.roles.keys.map { |role| [role.humanize, role] } ,class: 'form-control'%>
    <br>
    <div class="mt-3">
        <%= f.submit "sign In" ,class:'btn btn-primary' %>
    </div>
<% end %>